@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

*{
  font-family: "Plus Jakarta Sans", serif;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}


/* Navbar */

.header-navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  z-index: 100;
  background-color: #ffffff74;
  backdrop-filter: blur(10px);
}

.header-logo {
  width: 5%;
  cursor: none;
}

.header-navbar-left{
  display: flex;
  align-items: center;
}

.header-navbar-left-item{
  margin: 0 15px;
  cursor: pointer;
  color: #000;
}

.header-button {
  padding: 8px 15px;
  position: relative;
  transition: all 0.3s ease-in-out;
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  background-color: #F4F4F4;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-weight: 400;
  border: none;
  overflow: hidden;
  font-size: 15px;
  cursor: pointer;
}

.header-button:hover {
  transform: scale(1.05);
  background-color: #e5e5e5;
}

.header-button:hover .icon {
  transform: translate(4px);
  color: #fff;
}

.header-button:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.header-button::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

@media (max-width: 768px) {
  .header-navbar {
      padding: 10px;
  }
  .header-logo {
      width: 20%;
  }
  .header-navbar-left-item {
      margin: 0 10px;
  }
  .header-button{
      display: none;
  }
}

@media (max-width: 480px) {
  .header-navbar {
      padding: 5px;
  }
  .header-navbar-left-item {
      margin: 0 10px;
  }
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}


/* Home section */
.home{
  text-align: center;
  display: flex;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-image: url("/src/assets/img/bg-home.svg");
  background-size: cover;
}

.home-title-name{
  font-size: 55px;
  font-weight: 600;
}

.home-subtitle-passion{
  font-size: 30px;
  font-weight: 600;
  color: #AAAAAA;
}

.home-link-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  flex-direction: row;
  gap: 10px;
  overflow: hidden;
}

.link-icon{
  transition: all .4s;
}

.home-link-icon .link-icon:hover{
  scale: 1.2;
}


/* Project section */

.project-box{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin: 0px 25px;
  overflow: hidden;
}

.project-card{
  display: flex;
  flex-direction: column;
  padding: 5px;
  transition: all .4s;
  margin-bottom: 10px;
  overflow: hidden;
}

.project-card:hover{
  scale: 1.03;
  overflow: hidden;
}

.project-image{
  width: 100%;
  transition: ease-in-out .3s;
  border-radius: 15px;
}

.project-card .project-image:hover{
  border-radius: 25px;
}

.project-title-101{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  align-items: center;
}

.project-title{
  color: #000000;
  font-size: 20px;
  font-weight: 500;
}


.project-title-box{
  display: flex;
  gap: 10px;
}

.project-type-box{
  display: flex;
  gap: 5px;
}

.project-type{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #AAAAAA;
  border-radius: 15px;
  padding: 5px 15px;
  color: #AAAAAA;
  font-weight: 500;
}

.project-description{
  margin-top: 15px;
  color: #9f9f9f;
  font-weight: 500;
}

@media (max-width: 768px) {
  .project-box {
      grid-template-columns: 1fr;
      margin: 0 10px; 
  }

  .project-card {
      padding: 10px; 
  }

  .project-title-101 {
      flex-direction: column; 
      align-items: flex-start; 
  }

  .project-title{
      font-size: 25px;
  }

  .project-type {
      font-size: 14px;
      padding: 5px 10px;
      margin-top: 5px;
  }

  .project-description {
      font-size: 14px;
  }
}

/* Bottom section */

.Last{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75vh;
  width: 100vw;
  background-image: url("/src/assets/img/bg-home.svg");
  background-size: cover;
}

.Last-subtitle{
  font-size: 20px;
  color: #838383aa;
  font-weight: 400;
  margin-bottom: 5px;
}

.Last-title{
  font-size: 30px;
  margin-bottom: 20px;
}

.Last-button {
  margin-top: 15px;
  position: relative;
  transition: all 0.3s ease-in-out;
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  padding: 10px 25px;
  background-color: transparent;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  background-color: #d7d7d7;
  font-weight: 400;
  outline: none;
  overflow: hidden;
  font-size: 15px;
  cursor: pointer;
}

.Last-button:hover {
  transform: scale(1.05);
  border-color: #494949;
  background-color: #ffff;
}

.Last-button:hover .icon {
  transform: translate(4px);
}

.Last-button:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.Last-button::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}

/* Footer */


